# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific configuration files
.env

# Ignore npm debug logs
npm-debug.log*

# Ignore yarn error logs
yarn-error.log

# Ignore local configuration files
config/local.js

# Ignore macOS system files
.DS_Store

# Ignore editor-specific project files
.vscode/
.idea/

# Ignore built files and output directories
/dist/
/out/
/build/

# Ignore package-lock.json for projects using npm (but keep it for projects using yarn)
package-lock.json

# Ignore .env.local files, which can contain sensitive information
.env.local

# Ignore .env.development.local and .env.test.local, which can also contain sensitive information
.env.development.local
.env.test.local

# Ignore Jest coverage directory
/coverage/
